<!-- <h3 class="message">Degree Centrality</h3>
            {{ deg_cen_html[0]['div'] | safe }}
            <table id="customers">
                <tr>
                    <th>Hashtag</th>
                    <th>Skor</th>
                </tr>
                {% for x in deg_cen %}
                    <tr>
                        <td>{{ x[0] }}</td>
                        <td>{{ x[1] }}</td>
                    </tr>
                {% endfor %}
            
            </table>

            <h3 class="message">Closeness Centrality</h3>
            {{ clo_cen_html[0]['div'] | safe }}
            <table id="customers">
                <tr>
                    <th>Hashtag</th>
                    <th>Skor</th>
                </tr>
                {% for x in clo_cen %}
                    <tr>
                        <td>{{ x }}</td>
                    </tr>
                {% endfor %}
            
            </table>

            <h3 class="message">Betweenness Centrality</h3>
            {{ bet_cen_html[0]['div'] | safe }}
            <table id="customers">
                <tr>
                    <th>Hashtag</th>
                    <th>Skor</th>
                </tr>
                {% for x in bet_cen %}
                    <tr>
                        <td>{{ x[0] }}</td>
                        <td>{{ x[1] }}</td>
                    </tr>
                {% endfor %}
            
            </table>

            <h3 class="message">Eigenvector Centrality</h3>
            {{ eig_cen_html[0]['div'] | safe }}
            <table id="customers">
                <tr>
                    <th>Hashtag</th>
                    <th>Skor</th>
                </tr>
                {% for x in eig_cen %}
                    <tr>
                        <td>{{ x[0] }}</td>
                        <td>{{ x[1] }}</td>
                    </tr>
                {% endfor %}
            
            </table> -->

            <!-- {% if deg_cen_html %}
        {{ deg_cen_html[0]['script'] | safe }}
    {% endif %}
    {% if clo_cen_html %}
        {{ clo_cen_html[0]['script'] | safe }}
    {% endif %}
    {% if bet_cen_html %}
        {{ bet_cen_html[0]['script'] | safe }}
    {% endif %}
    {% if eig_cen_html %}
        {{ eig_cen_html[0]['script'] | safe }}
    {% endif %} -->